<h1>Posts#index</h1>

<% @posts.each do |post| %>
    <div class="post">
        <h2><%= post.title %></h2>
        <p><%= post.content %></p>
        <% if user_signed_in? %>
           <p><%= post.user.email %></p> 
        <% end%>
    </div>
<% end %>

<% if user_signed_in? %>
    <%= link_to "New post", new_post_path%> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %>

<% else %>
    <%= link_to "Sign In", new_user_session_path %> |
    <%= link_to "Sign Up", new_user_registration_path %>
<% end %>